body {
    background-color:white;
    margin: 0%;
}
@font-face {
    font-family: brandon;
    src: url(Brandon_blk.otf);
}
#title {
    color: black;
    font-size: 40pt;
    top: 0.2em;
    font-family: Shrikhand, serif;
    position: relative;
    letter-spacing: 1pt;
    text-decoration: none;
}
#header {
    height: 100px;
    text-align: center;
    background-color: white;
    overflow: hidden;
}
#immag {
    max-width: 100%;
    height: 35em;
    align-content: center;
    overflow: hidden;
}
#navbar {
    display: block;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0%;
    bottom: 0%;
    text-align: center;
    background-color:white;
    border-bottom: 1px solid black;
    z-index: 5;
    /*box-shadow: 0px 0px 40px black;*/
}
.navbig {
    height: 7em;
    transition: 0.5s;
}
.navshort {
    height: 5em;
    transition: 0.5s;
}
.navelbig {
    margin-top: 1em;
    margin-bottom: 1em;
    transition: 0.5s;
}
.navelshort {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: 0.5s;
    transform: translate(30vw, 0%);
}
.navelement {
    color: black;
    font-size: 24pt;
    font-family: brandon, sans-serif;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    cursor: pointer;
}
#imgatto {
    display: block;
    position: relative;
    left: 0%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    z-index: -1;
}
.underline {
    width: 2.5em;
    height: 0.12em;
    position: relative;
    background-color: black;
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.1em;
}
.underlineoff {
    width: 0em;
    height: 0.12em;
    position: relative;
    background-color: white;
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.1em;
}
.paragraph {
    color: black;
    font-size: 12pt;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-family: Montserrat, sans-serif;
}
.black {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.blackon {
    background-color: white;
}
.blackoff {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transition-delay: 1.5s;
}
#verticalline {
    width: 10%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    z-index: 2;
    border-radius: 2.5px;
    overflow: visible;
}
#horizontalline {
    position: absolute;
    width: 50px;
    height: 5px;
    margin-top: 22.5px;
    margin-left: -22.5px;
    background-color: black;
    border-radius: 2.5px;
    z-index: 3;
}
@keyframes spinner {
    0% {transform: translate(-50%, -50%) scale(1)}
    33% {transform: translate(-50%, -50%) scale(1.3);}
    66% {transform: translate(-50%, -50%) scale(1.3) rotate(90deg);}
    100% {transform: translate(-50%, -50%) scale(1) rotate(90deg)}
}
#spinner {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    animation: spinner 1s ease-in-out 0s infinite forwards normal;
    transform: translate(-50%, -50%);
}
#page {
    background-color: white;
    display: block;
    max-width: 50em;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}
#pageBackground {
    z-index: 1;
    background-color: white;
    display: inline-block;
    width: 100%;   
    margin-top: 0%;
    overflow: visible;
}
.ptitle {
    color: black;
    font-size: 25pt;
    top: 0.2em;
    font-family: Shrikhand, serif;
    margin-top: 1em;
    margin-left: 0.2em;
}
.project {
    background-color: black;
    width: 33.33%;
    height: 250px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.projimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 1;
}
.projimg:hover {
    width: 120%;
    height: 120%;
    transition: 0.5s;
    margin-right: -10%;
    margin-left: -10%;
    margin-top: -10%;
    margin-bottom: -10%;
    opacity: 0.5;
}
.projectsGrid {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 500px;
}
.projtitle {
    display: inline-block;
    font-family: Shrikhand, sans-serif;
    color: white;
    font-size: 15pt;
    z-index: 3;
    position: relative;
}
.projtitleoff {
    transform: translate(0%, 100%);
    transition: 0.5s;
}
.projtitleon {
    transform: translate(0%, 0%);
    transition: 0.5s;
}

.projtitlebox {
    display: inline-block;
    font-size: 15pt;
    width: 100%;
    z-index: 3;
    top: -140px;
    position: relative;
    pointer-events: none;
    text-align: center;
    overflow: hidden;
}   z-index: 3;
    position: relative;
}
.projtitleoff {
    transform: translate(0%, 100%);
    transition: 0.5s;
}
.projtitleon {
    transform: translate(0%, 0%);
    transition: 0.5s;
}

.projtitlebox {
    display: inline-block;
    font-size: 15pt;
    width: 100%;
    z-index: 3;
    top: -140px;
    position: relative;
    pointer-events: none;
    text-align: center;
    overflow: hidden;
}
.icon {
    width: 60px;
    height: 60px;
    float: left;
    margin: 10px;
    transform: scale(1);
    transition: 0.5s;
}
.icon:hover {
    transform: scale(1.2);
    float: left;
    margin: 10px;
    transition: 0.5s;
}
.icons {
    display: inline-block;
    text-align: center;
}
.iconsContainer {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px; 
}
.panel {
    display: inline-flex;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    z-index: 6;
    border: 1px solid black;
    border-radius: 5px;
    overflow: visible;
}
.hidden {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%,-40%) scale(0.8, 0.8);
}
.visible {
    transition: 0.3s;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1,1);
}
.panelimg {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    max-width: 95vw;
    max-height: 80vh;
    transition: 0.5s;  
    display: inline;  
}
.cancelimg {
    float: right;
    display: inline;
    width: 20px;
    height: 20px;
    margin: 15px;
    cursor: pointer;
}
/*.navtitle {
    float: left;
    color: black;
    font-size: 25pt; 
    font-family: Shrikhand, serif;
}
.navtitlebox {
    display: inline-block;
    top: 2em;
    left: 2em;
    position: fixed;
}
.nthide {
    transform: translate(0%, 200%);
    transition: 0.5s;
}
.ntshow {
    transform: translate(0%, 0%);
    transition: 0.5s;
}*/